@{
    ViewBag.Title = "Administration Page";
}
<h2>@ViewBag.Title</h2>

<p class="well">This page should only be accessible by a user with the <span class="badge">Example.User</span> and <span class="badge">Example.Admin</span> roles</p>
<p>To see the behaviour should the user not have the required claim(s), modify the <code>ApplicationClaims/ExampleClaimsProvider.cs</code> file</p>